p[name^="2"]{
    font-size: small;
}
a[name^="3"]{
    color: rgb(114, 137, 223) ;
}
a[name^="4"]{
    color: rgb(182, 182, 234);
    text-decoration: red;
}
a[name^="5"]{
    color: rgb(227, 151, 10);
}
h4{
    font-size: 18px;
}